@model Product

<div class="product-list-item">
  <div class="product-list-item__image-wrapper">
    <img src="/images/productimages/main/@Model.ImageUrl" class="product-list-item__image" />
  </div>
  <div>
    <p class="product-list-item__product-name">@Model.Name</p>
  </div>
  <div>
    <p class="product-list-item__product-price">$@Model.Price</p>
  </div>

</div>

